#fruits{
    /*display:inline;*/
    margin: auto;
    width: 90%;
    height: 320px;
    /*height: auto;*/
    /*border: 1px solid;*/
}
.container {
    /*display:inline;*/
    float:left;
    margin: auto 15px;
    width: 20%;
    border: 1px solid ;
    text-align: center;
    /*padding: 1em 0 0 0;*/
}

.sellBtn {
    margin: 10px auto;
    /*text-align: center;*/
    border: 1px solid;
    width: 65%;
    height: 30px;
    line-height: 30px;
}

#userInfo {
    /*float:left;*/
    width: 40%;
    margin: auto auto;
    border: 1px solid;
    text-align: center;

}

/*#container {*/

    /*margin: 0 auto 0 auto;*/
    /*width: 80%;*/
/*}*/

h1 {
    text-align: center;
}